<h1>Условия доставки</h1>

<p> Доставка по городу Минск (в пределах МКАД) — осуществляется&nbsp;бесплатно.&nbsp; </p>
<p>
  Цена доставки за пределы города устанавливается в зависимости от
  расстояния. Вы можете проверить свой адрес доставки и узнать
  примерную&nbsp;стоимость ниже, указав адрес доставки.
</p>
<p>
  Крайнее ближайшее время доставки указано в каждой композиции и зависит от сложности букета.<br>

  Доставка осуществляется в интервале 2 часа. Начало&nbsp;доставки с 10:00, завершение в 23:00.&nbsp;
</p>
<p>
  Предзаказ на текущий день до 19:00 по местному времени города доставки.
</p>
<p>
  Товары из раздела 24 часа доставляются круглосуточно. Предзаказ до 21:00&nbsp;по местному времени города доставки.
</p>
<p>
  Ожидание получателя букета курьером до 15 минут. Повторная&nbsp;доставка&nbsp;осуществляется&nbsp;с доплатой&nbsp;за
  выезд курьера.&nbsp;<br>
</p>
<p>
  Поскольку цветы являются скоропортящимся продуктом, через 24 часа&nbsp;с
  момента несостоявшейся доставки получателю, заказ оплачивается повторно
  или вывозится самостоятельно. При отказе от повторной доставки, оплата
  не возвращается, и взимается в полном объёме в виду компенсации затрат
  по данному заказу.
</p>
<p>
  <strong>Мы можем:</strong>
</p>
<ul>
  <li>Доставить букет без адреса и времени</li>
  <li>Доставить в любое учреждение: гостиница, больница и др.</li>
  <li>Приложить к цветам ваш подарок</li>
  <li>Согласовать иные индивидуальные условия сюрприза</li>
</ul>