<h1>Оплата заказа</h1>
<p>Наличными курьеру - если вы получатель букета, вы можете оплатить свой заказ наличными при получении.
  На усмотрение сервиса на некоторые букеты потребуется частичная предоплата в размере до 30%.</p>
<p>Банковские карты - к оплате принимаются карточки VISA и MasterCard, Maestro.</p>
<p>После подтверждения выбранного Товара откроется защищенное окно с платежной страницей процессингового
  центра CloudPayments или Яндекс.Касса, где Вам необходимо ввести данные Вашей банковской карты. Для дополнительной
  аутентификации держателя карты используется протокол 3D Secure. Если Ваш Банк поддерживает данную технологию, Вы
  будете перенаправлены на его сервер для дополнительной идентификации. Информацию о правилах и методах дополнительной
  идентификации уточняйте в Банке, выдавшем Вам банковскую карту.</p>
<p>Apple Pay и Google Pay - оплата в одно касание.</p>
<p>Электронные деньги - Яндекс.Деньги, QIWI-Кошелёк.</p>
<p>Интернет-банки - Сбербанк.Онлайн, Альфа.Клик.</p>
<p>PayPal - международная система приёма платежей позволит вам оплатить практически любой банковской картой любой
  страны.</p>
<p>Безналичный расчет - Доступен только для юридических лиц. Счёт формируется автоматически при оформлении заказа.</p>